@import './variables';
@import './normalize';
@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
}

body {
  font: normal normal normal 1rem 'Roboto';
  overflow-x: hidden;
  max-width: 100vw;
  background-color: $c-white;
  color: $c-white;
}

img, input[type="image"], table {
  aspect-ratio: attr(width)/attr(height);
}

a,
a:hover,
a:active,
a:visited{
  color: $c-black;
  text-decoration: none;
}

ul{
  list-style: none;
}

fieldset{
  border: none;
}

.page-container{
  margin: 0 auto;
  max-width: $wrapper;
}

button,
input:focus,
textarea:focus,
select:focus{
  outline: none;
  border: none;
}

@media screen and (max-width: $break-high){
  .page-container{
    max-width: $wrapper-high;
  }
}

@media screen and (max-width: $break-laptop){
  .page-container{
    max-width: $wrapper-laptop;
  }
}

@media screen and (max-width: $break-mid){
  .page-container{
    max-width: $wrapper-mid;
  }
}