// converting px to rem, with default 1 rem = 16px

@function pxToRem($pxsize, $rembase:16){
  @return ($pxsize / $rembase) + rem;
}

@mixin boxShadow($arg) {
  box-shadow: $arg;
  -webkit-box-shadow: $arg
}

@mixin myFlex() {
  $prefixes:(-webkit-box, -moz-box, -ms-flexbox, -webkit-flex, flex);
  @each $prefix in $prefixes {
    display: $prefix;
  }
}