.hello_wrapper{
  position: relative;
  flex-basis: 100%;
  justify-content: space-between;
  @include myFlex();
}

.hello_wrapper .introduce_wrapper{
  top: 5vw;
  left: 20vw;
  width: 70vw;
  max-width: $grid-mid;
  height: 20vw;
  max-height: $grid-xs;
  transition: 1.5s;
}

.hello_wrapper .introduce_wrapper .text_wrapper{
  width: 68%;
}

.hello_wrapper .introduce_wrapper .text_wrapper .text{
  margin-top: $space-s;
}

.hello_wrapper .introduce_wrapper .repo_wrapper{
  align-items: center;
  align-self: flex-end;
  @include myFlex()
}

.hello_wrapper .introduce_wrapper .repo_wrapper .text{
  white-space: nowrap;
}

.hello_wrapper .introduce_wrapper.notViewed{
  opacity: 0;
  transform: translateY(-50px);
}

.hello_wrapper .photo_wrapper{
  width: 30vw;
  min-width: $grid-s;
  height: 40vw;
  min-height: $grid-normal;
  border-radius: $border-radius-m;
  background-image: url('../../../../assets/man_main.jpeg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hello_wrapper .files_wrapper{
  align-self: flex-end;
  margin-right: $space-xxl;
  text-align: right;
  position: relative;
}

.hello_wrapper .files_wrapper .text{  
  margin: $space-xs 0;
}

.hello_wrapper .files_wrapper .buttons_wrapper{
  justify-content: space-between;
  @include myFlex()
}

.aboutMe_wrapper{
  flex-direction: column;
  height: $grid-normal;
  margin-top: $space-xl;
  width: 40%;
  position: relative;
  @include myFlex()
}

.aboutMe_wrapper .text{
  margin: 20px 0;
}

.aboutMe_wrapper .interestsList{
  list-style: inside;
  color: $c-text;
}

.aboutMe_wrapper .course_wrapper {
  align-items: center;
  align-self: flex-end;
  margin-top: $space-xxs;
  @include myFlex();
}

.aboutMe_wrapper .course_wrapper .text{
  font-weight: 500;
  margin-right: $space-s;
}

.aboutMe_wrapper .course_wrapper .logo{
  width: $grid-xxs;
  height: 40px;
  border-radius: $border-radius-s;
}