.blog_wrapper{
  position: relative;
  max-width: 100vw;
}

.blog_wrapper .bgImg{
position: absolute;
top:-50px;
left: -350px;
z-index: -1;
transform: scale(.5);
}

.blog_wrapper .post_wrapper{
  margin-top: $space-l;
  transition: 1.5s;
  @include myFlex()
}

.blog_wrapper .post_wrapper .img_wrapper .postImg{
  width: $grid-s;
  border-radius: $border-radius-m;
  margin-right: $space-standard;
  @include boxShadow(2px 2px 2px $c-lightGrey)
}

.blog_wrapper .post_wrapper .text_wrapper{
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @include myFlex()
}

.blog_wrapper .post_wrapper .text_wrapper .desc_wrapper{
  max-width: 90%;
  flex-direction: column;
  @include myFlex()
}

.blog_wrapper .post_wrapper .text_wrapper .data_wrapper .dataText{
  color: $c-main;
  font-size: pxToRem(15);
}

.blog_wrapper .post_wrapper .text_wrapper .desc_wrapper .readMore .readMore_img{
  height: 20px;
  margin-left: $space-xxs;
  filter: invert(82%) sepia(4%) saturate(3310%) hue-rotate(337deg) brightness(98%) contrast(79%);
}

.blog_wrapper.notViewed .post_wrapper:nth-child(odd){
transform: translateX(-100vw);
}

.blog_wrapper.notViewed .post_wrapper:nth-child(even){
  transform: translateX(100vw);
  }