.buttonBig{
  color: $c-white;
  width: $button-l;
  margin: $space-xs;
  padding: $space-xs 0;
  border: none;
  border-radius: $border-radius-m;
  font-size: pxToRem(15);
  background: $c-element;
  box-shadow: $border-line-m $border-line-m $border-line-m $c-grey;

  &:hover{
    font-weight: 500;
    cursor: pointer;
  }
}

.buttonSmall__wrapper{
  align-self: flex-end;
  margin: $space-xs $space-s $space-s 0;
  z-index: 100;
  @include myFlex();

  .buttonSmall{
    display: block;
    width: $button-s;
    height: $button-s;
    margin-left: $space-s;
    z-index: 2;
    background-size: contain;
    
    &:hover{
      cursor: pointer;
    }
  }
}

.readMore{
  align-self: center;
  align-items: center;
  color: $c-main;
  background-color: $c-white;
  text-decoration: none;
  font-weight: 500;
  margin-top: $space-xs;
  font-size: pxToRem(15);
  cursor: pointer;
  @include myFlex();
}