.footer{
  padding: $space-xl calc((100vw - 1300px)/2);
  background: $c-section;
  overflow: hidden;
  @include myFlex();
}

.sider{
  flex-direction: column;
  width: 50%;
  position: relative;
  @include myFlex();
}

.footer .text {
  max-width: 30vw;
}

.footer .emailForm_wrapper {
  margin-top: $space-standard;
  align-items: flex-end;
  @include myFlex();
}

.footer .emailForm_wrapper .input{
  padding: $space-xs;
  width: $grid-s;
  border-radius: $border-radius-m;
  border: none;
  margin-bottom: $space-s;
  @include boxShadow(2px 2px 2px $c-grey)
}

.footer .emailForm_wrapper .textarea{
  resize: none;
  margin-bottom: $space-xs;
}

.footer .emailForm_wrapper .send{
  align-self: flex-end;
  margin-bottom: $space-standard;
  margin-left: $space-xs;
  color: $c-white;
  padding: $space-xs 0;
  width: $grid-xxs;
  border-radius: $border-radius-m;
  font-size: pxToRem(16);
  @include boxShadow(2px 2px 2px $c-grey)
}

.footer .emailForm_wrapper .send:hover{
  font-weight: 500;
}

.footer .img_wrapper{
  align-items: flex-end;
  flex-direction: column;
  @include myFlex();
}

.footer .img_wrapper .img {
  width: $grid-xs;
  align-self: flex-end;
  margin-right: $space-xl;
}

.footer .text_wrapper{
  margin-right: $space-xl;
  flex-direction: column;
  align-items: flex-end;
  @include myFlex();
}

.footer .text_wrapper .text .contact_link{
  text-decoration: none;
  color: $c-text;
}

.footer .bgCircle {
  position: absolute;
  top: -400px;
  left: -90px;
  transform: scale(.6);
}