.mainPart{
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $wrapper;
  margin: 0 auto;
  padding: $space-medium $space-l;
  @include myFlex();
}

.outOfLayoutBox{
  position: absolute;
  background-color: $c-white-opacity;
  padding: $space-s $space-xs;
  border-radius: $border-radius-m;
  @include boxShadow(2px 2px 6px $c-grey);
  @include myFlex();
}

.footer .outOfLayoutBox{
  top: $space-xl;
  right: 40%;

  .contactIcon{
    height: 50px;
    width: 50px;
  }

  .contactText{
    flex-direction: column;
    align-self: center;
    margin-left: $space-standard;
    @include myFlex();
  }
}

.aboutMe__top-leftCircle{
  position: absolute;
  top: -70px;
  left: -120px;
  width: $grid-xs;
}

.aboutMe__bottom-rightCircle{
  position: absolute;
  bottom: -250px;
  left: 0;
  transform: scale(.5);
  z-index: -1;
}

.aboutMe__bottom-leftCircle{
  position: absolute;
  height: $space-xxl;
  width: $space-xxl;
  right: -80px;
  top: -150px;
  z-index: -1;
}

.skills_circle{
  position: absolute;
  height: $grid-normal;
  width: $grid-normal;
  right: -200px;
  top: 50px;
  z-index: -1;
}