@media(max-width:$break-xs){
  .mainPart .hello_wrapper .photo_wrapper{
    min-width: 80vw;
    height: auto;
  }

  .mainPart .hello_wrapper .files_wrapper{
    flex-direction: column;
    align-items: flex-start;
    @include myFlex()
  }

  .mainPart .hello_wrapper .files_wrapper .buttons_wrapper{
    flex-direction: column;
  }

  .mainPart .hello_wrapper .files_wrapper .buttons_wrapper .fileButton{
    margin: $space-xs auto;
    width: 70vw;
  }
}

@media(max-width:$break-mobile){
  .mainPart .blog_wrapper .post_wrapper{
    flex-direction: column;
    }

    .mainPart .blog_wrapper .post_wrapper .text_wrapper{
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    .mainPart .blog_wrapper .post_wrapper .img_wrapper .postImg{
      max-width: 80vw;
    }

    .mainPart .blog_wrapper .post_wrapper .text_wrapper .data_wrapper{
      margin-bottom: $space-xs;
    }
  
  .footer .outOfLayoutBox{
      display: none;
    }

  .footer .sider{
      margin: auto;
    }

  .footer .sider:nth-child(2){
      display: none;
    }

  .footer .emailForm_wrapper .send{
      margin: auto;
    }

  .footer{
      padding: 45px auto;
    }
    
  .sider{
      width: 80%;
    }

  .footer .text {
      max-width: 100%;
    }

  .footer .emailForm_wrapper .inputs_wrapper{
      margin: $space-xs auto  ;
      width: 90%;
    }

  .footer .emailForm_wrapper .input{
      width: 100%;
    }
}

@media(max-width: $break-mid){
  .header .nav_wrapper .nav_btn{
    @include myFlex()
  }
  
  .header .nav_wrapper .navLinks_wrapper{
    display: none;
  }

  .header .nav_wrapper:not(.show){
    width: $grid-xxs;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  .header .nav_wrapper{
    flex-direction: column-reverse;
  }
  
  .header .nav_wrapper.show .navLinks_wrapper{
    position: absolute;
    top: 60px;
    right: 20px;
    flex-direction: column;
    z-index: 10;
    @include myFlex()
  }
  
  .header .nav_wrapper.show .navLinks_wrapper{
    width: $grid-xs;
  }

  .header .nav_wrapper.show .navLinks_wrapper .nav_inner .nav_list{
    flex-direction: column;
    align-items: center;
    @include myFlex()
  }

  .header .nav_wrapper.show .navLinks_wrapper .nav_inner .nav_list .nav_item{
    width: 100%;
    margin: $space-xxs auto;
    font-size: pxToRem(16);
  }

  .header .nav_wrapper.show .navLinks_wrapper .nav_inner .nav_list .nav_item .navLink:hover{
    font-size: pxToRem(18);
  }

  .nav_outside{
    border-top: $border-line-m solid white;
    border-left: none;
    width: 100%
  }
}

@media (max-width: $break-laptop){
  body{
    font-size: pxToRem(14);
  }

  .mainHeading, .secondaryHeading{
    font-size: pxToRem(20);
  }

  .header .nav_list .nav_item .navLink:hover{
    font-size: pxToRem(14);
  }

  .mainPart .hello_wrapper{
    flex-direction: column;
  }

  .mainPart .hello_wrapper .files_wrapper{
    align-self: center;
    margin-right: 0;
  }

  .mainPart .hello_wrapper .introduce_wrapper{
    flex-direction: column;
    background-color: $c-white-opacity;
    height: auto;
    max-height: none;
  }

  .mainPart .skills_wrapper,
  .mainPart .aboutMe_wrapper{
    height: auto;
    width: 80%;
    margin: $space-xl auto 0;
  }

  .mainPart .myWorks_wrapper .myWorks_text_wrapper{
    width: 90%;
  }

  .mainPart .myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-4),
  .mainPart .myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-2),
  .mainPart .myWorks_wrapper .projects_wrapper .project_wrapper{
    max-width: 45%;
    margin: auto;
  }

  .footer .emailForm_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .emailForm_wrapper .send{
    align-self: flex-start;
  }

  .footer .text_wrapper,
  .footer .img_wrapper .img {
    margin-right: $space-xs;
  }

  .footer .outOfLayoutBox{
    top: 10px;
    right: 35%;
  }
};